tags*
*.snap
*.assert
confdb-schema/system-stats-schema.json
confdb-schema/fault-mgr-schema.json

# Note building snapcraft.yaml from a template to auto-insert account ids and other stuff
snapcraft.yaml
